# Gerando uma planilha com DataFrame no Pandas

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
wiki = 'https://pt.wikipedia.org/wiki/Lista_de_capitais_do_Brasil_por_%C3%A1rea'
page = urllib.request.urlopen(wiki)

In [3]:
page = urllib.request.urlopen(wiki)

In [4]:
soup = BeautifulSoup(page, 'html5lib')

In [5]:
all_table = soup.find_all('table')

In [6]:
table = soup.find('table', class_='wikitable sortable')

In [7]:
# print(table)

In [8]:
# Gerando a lista em Colunas
A=[]
B=[]
C=[]
D=[]
E=[]

for row in table.findAll("tr"): #para tudo que estiver em <tr>
    cells = row.findAll('td') #variável para encontrar <td>
    if len(cells)==5: # número de colunas
        A.append(cells[0].find(text=True)) # iterando sobre cada linha
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find('a').text)
        E.append(cells[4].find(text=True))

In [9]:
# Utilizando o pandas para converter a lista em uma planilha

df = pd.DataFrame(index=A, columns=['Posição'])

df['Posição']=A
df['Estado']=B
df['Código/IBGE']=C
df['Capital']=D
df['Área']=E

df

   Posição          Estado Código/IBGE              Capital          Área
1        1     Porto Velho     1100205             Rondônia  34 090,952\n
2        2          Manaus     1302603             Amazonas  11 401,092\n
3        3      Rio Branco     1200401                 Acre   8 834,942\n
4        4    Campo Grande     5002704   Mato Grosso do Sul   8 082,978\n
5        5          Macapá     1600303                Amapá   6 563,849\n
6        6        Brasília     5300108     Distrito Federal   5 760,783\n
7        7       Boa Vista     1400100              Roraima   5 687,037\n
8        8          Cuiabá     5103403          Mato Grosso   3 266,538\n
9        9          Palmas     1721000            Tocantins   2 227,444\n
10      10       São Paulo     3550308            São Paulo   1 521,110\n
11      11        Teresina     2211001                Piauí   1 391,046\n
12      12  Rio de Janeiro     3304557       Rio de Janeiro   1 200,329\n
13      13           Belém     1501402                        1 059,466\n
14      14         Goiânia     5208707                Goiás     728,841\n
15      15        Salvador     2927408                          693,453\n
16      16   Florianópolis     4205407       Santa Catarina     674,844\n
17      17        São Luís     2111300             Maranhão     582,974\n
18      18          Maceió     2704302              Alagoas     509,320\n
19      19    Porto Alegre     4314902    Rio Grande do Sul     495,390\n
20      20        Curitiba     4106902               Paraná     434,892\n
21      21  Belo Horizonte     3106200         Minas Gerais     331,354\n
22      22       Fortaleza     2304400                Ceará     312,353\n
23      23          Recife     2611606           Pernambuco     218,843\n
24      24     João Pessoa     2507507              Paraíba     210,044\n
25      25         Aracaju     2800308              Sergipe     182,163\n
26      26           Natal     2408102  Rio Grande do Norte     167,401\n
27      27         Vitória     3205309       Espírito Santo      97,123\n

In [10]:
# Gerando um arquivo CSV: 

df.to_csv('tabela.csv', index=False)

In [11]:
# Olhando as primeiras 10 linhas do arquivo gerado:

!head -n10 tabela.csv

Posição,Estado,Código/IBGE,Capital,Área
1,Porto Velho,1100205,Rondônia,"34 090,952
"
2,Manaus,1302603,Amazonas,"11 401,092
"
3,Rio Branco,1200401,Acre,"8 834,942
"
4,Campo Grande,5002704,Mato Grosso do Sul,"8 082,978
"
5,Macapá,1600303,Amapá,"6 563,849